.blog__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img__container {
  width: 85%;
  height: 350px;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.post__body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  width: 80%;
  line-height: 1.5;
}
