.row {
  display: flex;
  height: auto;
  margin-bottom: 5%;
}

.col-2 {
  flex: 50%;
}

.col-3 {
  flex: 30%;
  margin-right: 5%;
}

.container {
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
